.buttonStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 250px;
}

/* Style the 'Show all' button */
#all {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(92, 9, 226);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 105px;
  font-size: large;
}

/* Style the 'Cats' button */
#cat {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(0, 132, 214);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 105px;
  font-size: large;
}

/* Style the 'Dogs' button */
#dog {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(49, 165, 54);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 105px;
  font-size: large;
}

/* Style the 'Dinos' button */
#dino {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: rgb(216, 153, 18);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 20px;
  width: 105px;
  font-size: large;
}

/* Add 'Delete' button to each card */
.delete {
  display: block;
  border: none;
  outline: none;
  padding: 10px 12px;
  width: 75px;
  background-color: red;
  color: white;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin: auto auto 20px auto;
}

/* Add a dark purple background on mouse-over */
#all:hover {
  background-color: rgb(67, 7, 163);
}

/* Add a dark blue background on mouse-over */
#cat:hover {
  background-color: rgb(4, 96, 153);
}

/* Add a dark-green background on mouse-over */
#dog:hover {
  background-color: rgb(36, 122, 40);
}

/* Add a dark orange background on mouse-over */
#dino:hover {
  background-color: rgb(160, 119, 31);
}

.delete:hover {
  background-color: darkred;
}

.cardStyles {
  display: flex;
  flex-wrap: wrap;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  justify-content: center;
  min-width: 250px;
  max-width: 1400px;
}

/* Add card to each pet */
.card {
  border: 1px solid lightgray;
  margin: 10px;
  padding: 10px;
  min-width: 250px;
  max-width: 25%;
  max-height: 75%;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  position: relative;
}

/* max of 3 cards per row */
@media(min-width: 250px) {
  .card {
    flex: 0 25%;
    flex-grow: 1;
  }
}

h2 {
  border: 1px solid lightgray;
  text-align: center;
  color: #303F9F;
  background-color: rgb(236, 235, 235);
  margin: -11px; 
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

img {
  border: 3px solid lightgray;
  display: block;
  margin: 30px auto 10px auto;
  padding: 20px;
  width: 80%;
  height: 200px;
  object-fit: contain; /*prevents stretch */
  border-radius: 5px;
}

.petColor {
  text-align: center;
  margin: 10px auto;
}

.petSkill {
  text-align: center;
  margin: auto;
  height: 80px;
}

.catBanner {
  border: 1px solid rgb(146, 209, 248);
  text-align: center;
  color: rgb(0, 132, 214);
  background-color: rgb(198, 231, 252);
  margin: -11px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dogBanner {
  border: 1px solid rgb(146, 228, 150);
  text-align: center;
  color: rgb(49, 165, 54);
  background-color: rgb(216, 240, 218);
  margin: -11px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dinoBanner {
  border: 1px solid rgb(241, 221, 173);
  text-align: center;
  color: rgb(216, 153, 18);
  background-color: rgb(243, 232, 207);
  margin: -11px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 20px;
  color: #303F9F;
}
